.gallery{
padding: 3em 0px 3em 0px;

background:url(https://p.w3layouts.com/demos_new/template_demo/23-11-2017/feature-demo_Free/853459786/web/images/bg1.jpg)no repeate center;
background-size: cover;
box-sizing: border-box;
}
div{display: block;}
body{
	font-family: 'asap condensed',sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}
